/bin/
doc
build.sbt
Euler*.jar
RemoteSystemsTempFiles
Servers
srcScala/.idea
srcScala/project
srcScala/target
srcRuby/.idea
srcRuby/G01/.idea
srcRuby/G01/G01.iml
srcRuby/srcRuby.iml
target/
project/
.idea/
.classpath
.metadata/
.project
.settings/